# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Streamlit
.streamlit/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Logs
*.log